* {
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: myFirstFont;
  src: url(../super_mario/SuperMario256.ttf);
}

.main {
  font-family: myFirstFont;
}

.carousal-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#numberThree {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

body {
  height: 100vh;
  background-image: url("../images/mario.gif"), url("../images/ground.png"), url("../images/back.png");
  background-color: #F8E0B0;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
  background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
  animation: back 14s 4 linear;
}

@keyframes back {
  0% {
    background-position: left 30% bottom 22px, left 0px bottom 0px, left 0px bottom 22px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 22px, left -816px bottom 0px, left -508px bottom 22px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 22px, left -1632px bottom 0px, left -1016px bottom 22px, left -512px bottom 0px;
  }
}

.visible-on-small-screens {
  display: none;
}

.hidden-md {
  display: block;
}

.google-font {
  font-family: 'Grandstander', cursive;
}

.box-shadow-hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), 0 2px 10px 0 rgba(0, 0, 0, 1);
}

img {
  margin: auto;
}

.carousel-item {
  height: 85vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: black;
}

@media (max-width: 1050px) {
  
  .hidden-md {
    display: none;
  }

  .visible-on-small-screens {
    display: block;
  }

  .cent {
    transform: translateY(0vh);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 325px) and (max-height: 570px) {

  .hidden-xs {
    display: none;
  }
}